<p>apolice works!</p>

<label>Pesquise por uma apolice </label>
<form>

</form>
<div>
Vou mostrar apenas de uma apolice 
<p>
{{apolices[0].COD}} <br>
{{apolices[0].seguradora}} <br>
{{apolices[0].inivigor | date:'dd/MM/yyyy'}} <br>
{{apolices[0].fimvigor | date:'dd/MM/yyyy'}} <br>
{{apolices[0].linkApolice}} <br>
{{apolices[0].premioLiquido}} <br>
{{apolices[0].premioTotal}} <br>
{{apolices[0].ramo}} <br>
{{apolices[0].produto}} <br>
{{apolices[0].cod_produtor}} <br>
{{apolices[0].cod_segurado}} <br>

</p>
</div>

<a [href]="'http://localhost:4200/api/download_apolice?filename=pedro_henrique_apolice'" target="_blank">
  Visualizar PDF</a>

<!-- Cria uma lista desordenada com os nomes e CODs dos funcionarios -->
<div>
<ul>
    Lista de apólices:
    <li *ngFor="let item of apolices">
      {{item.COD }} - {{item.seguradora}} - {{item.fimvigor | date:'dd/MM/yyyy' }} 
    </li>
</ul>
</div>







