<p>apolice em desenvolvimento!</p>

<label>Pesquise por uma apolice </label>
<form>
  <select name="campo">
    <option value="seguradora">Seguradora</option>
    <option value="fimvigor">Fim de Vigência</option>
    <option value="segurado">Segurado</option>
    <option value="premio">Prêmio</option>
  </select>
  <input type="text" name="valor" />
  <input type="submit" value="Pesquisar" />
</form>
<button>Nova apólice</button>


Tirar isso daqui heim!
<a [href]="'http://localhost:4200/api/download_apolice?filename=pedro_henrique_apolice'" target="_blank">
  Visualizar PDF</a> 

<!-- Cria uma lista desordenada com os nomes e CODs dos funcionarios -->
<span style="display:flex;">
<div style="flex-grow: 1;">
  <table>
    <caption>Lista de apólices vencendo no mês</caption>
    <th>Seguradora</th>
    <th>Ramo</th>
    <th>Produto</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th>Premio Líquido</th>
    <th>Segurado</th>
    <th>Apolice</th>

    <tr *ngFor="let item of apolices">
      <td>{{item.seguradora}}</td>
      <td>{{item.ramo}}</td>
      <td>{{item.produto}}</td>
      <td>{{item.inivigor | date:'dd/MM/yyyy'}}</td>
      <td>{{item.fimvigor | date:'dd/MM/yyyy' }}</td>
      <td>{{item.premioLiquido}}</td>
      <td>{{item.cod_segurado}}</td>
      <td> <a routerLink="/apolices/{{item.COD}}">detalhes</a> </td>
    
    </tr>
  </table>
</div>  

<!--
<div style="flex-grow: 1;">
  <p><strong>
  Imprimir algumas estatísticas das apolices do mes {{mes}} aqui</strong></p>
</div>-->
<aside>
  <p><strong>
    Imprimir algumas estatísticas das apolices do mes {{mes}} aqui</strong></p>
</aside>
</span>





